.container{
 margin: 3px auto;
 width: 900px;
 box-sizing: border-box;
 font-family: 'Times New Roman', Times, serif;
 font-size: 14px;
}
.row{
    background-color: rgb(199, 193, 193);
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 3px;
}
.input-form{
    display: flex;
}
.input-form > label{
    width: 100px;
}
.form-control{
    width: 100%;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
thead>tr>th{
    background-color: black;
    color: white;
}
.table{
    width: 100%;
}
.btn{
    padding: 2px;
    border-radius: 5px;
    margin: 3px auto;
}
.btnover{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btnAdd{
    padding: 5px;
    border-radius: 5px; 
    width: 50px;
}
#btnAdd:hover{
    background-color: rgb(137, 155, 171);
    cursor: pointer
}
.btnRemove:hover{
    background-color: rgb(137, 155, 171);
    cursor: pointer
}
.btnEdit:hover{
    background-color: rgb(137, 155, 171);
    cursor: pointer
}
.btnUpdate:hover{
    background-color: rgb(137, 155, 171);
    cursor: pointer
}
.btnCancel:hover{
    background-color: rgb(137, 155, 171);
    cursor: pointer
}