.container{
 margin: 3px auto;
 width: 900px;
}
.row{
    background-color: rgb(199, 193, 193);
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 3px;
}

.form-control{
    width: 60%;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    
}
